{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
  	{% include 'head.html' %}
  </head>

<body class="full-intro background--dark">

    <!-- Static navbar -->
	{% include 'navbar.html' %}

    

      <!-- Main component for a primary marketing message or call to action -->
      {% block content %}

      {% endblock %}
    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% include 'js.html' %}
  </body>
</html>