{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Action Box Section -->
    <section id="action-box" class="dark-bg ptb-60">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <h4 class="">Donec sodales sagittis magna bibendum sodales Sed consequat?</h4>

                </div>
                <div class="col-md-4 col-sm-4">
                    <a class="btn btn-md btn-white float-right float-none-xs">Download</a>

                </div>
            </div>
        </div>
    </section>
    <!-- End Action Box Section -->
<div class="container">
	<div class="row">
		<div class="col-md-3">
	
			<h1>dude</h1>

			<form method="POST" action="">{% csrf_token %}
			{{ form|crispy }}
			<button class="btn btn-primary" type="submit" value= "signup">signup</button>

			</form>
		</div>
</div>
</div>
</div>

{% endblock %}