
<!-- Sidemenu -->

<!--End Sidemenu -->

<!-- Site Wraper -->


<!-- HEADER -->
<header class="header sticky">
    <div class="container">
<section class="side-menu cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right">
<a class="menu-close toggle-menu menu-right push-body"><i class="ion ion-android-close"></i></a>
<ul>
    <li><a target="_blank" href="index.html">Main Demo Page</a></li>
    <li><a href="home.html">Home Default</a></li>
    <li><a href="portfolio-grid-2col.html">Portfolio</a></li>
    <li><a href="login-register.html">Login & Signup</a></li>
    <li><a href="faq-1.html">FAQ</a></li>
    <li><a href="about-1.html">About</a></li>
    <li><a href="service-1.html">Service</a></li>
    <li><a href="blog-grid-3col.html">Blog</a></li>
    <li><a href="404-error-1.html">404 Error</a></li>
    <li><a href="shop-checkout.html">Shopping Cart</a></li>
    <li><a href="contact-1.html">Contact Us</a></li>
</ul>
</section>
        <!-- logo -->
        <div class="logo">
            <a href="">
                <img class="l-black" src="img/logo-black.png" />
                <img class="l-white" src="img/logo-white.png" />
                <img class="l-color" src="img/logo-color.png" />
            </a>
        </div>
        <!--End logo-->

        <!-- Rightside Menu (Search, Cart, Bart icon) -->
        <div class="side-menu-btn">
            <ul>
                <!--Sidebar Menu Icon-->
                <li class="">
                    <a class="right-icon bar-icon toggle-menu menu-right push-body"><i class="fa fa-bars"></i></a>
                </li>
                <!-- End Sidebar Menu Icon-->
            </ul>
        </div>
        <!-- End Rightside Menu -->

        <!-- Navigation Menu -->
        <nav class="navigation singlepage-nav">
            <ul>
                <li>
                    <a class="current-ele" href="#intro">Home</a>
                </li>

                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#work">Work</a>
                </li>
                <li>
                    <a href="#service">Service</a>
                </li>
                <li>
                    <a href="#blog">News</a>
                </li>
                <li>
                    <a href="#pricing">Pricing</a>
                </li>
                <li>
                    <a href="#contact-section">Contact</a>
                </li>
            </ul>
        </nav>
        <!--End Navigation Menu -->


    </div>
</header>
<!-- END HEADER -->